 body {
    background-color: lightsalmon;

}


h1,h2{

    text-align: center;
}

image{

     text-align: center;
}

h1 , h2 {

background-color: blueviolet;

}

nav{
text-decoration: wavy;
    background-color: green;
    text-align: auto;
    /*width: 30%;*/
}
aside{

    text-align: center;
    background-color: aquamarine;
    
}